@charset "UTF-8";

/*ナビゲーション枠　共通　高さと色*/
.navi a {
  color: #000000;
  text-decoration: none;
  outline: none;
  display: block;
  background-color: #FDD757;
  height: 140px;
  text-align: center;
	margin: 0px;
}
/*ナビゲーション枠　共通　文字サイズ*/
.navi a h2 {
  font-size: 20px;
  font-weight: bold;
}
/*ナビゲーション枠　共通　アイコン色と大きさ*/
.navi a span {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
/*ナビゲーション枠　共通　ホバー*/
.navi a:hover {
  opacity: 0.8;
}

/*カラム2　横幅いっぱいに*/
.col-2{
	padding: 0px;
}




/*ナビゲーション枠　共通　高さと色*/
.service a {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  display: block;
  background-color: #FDD757;
  height: 140px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
}
/*ナビゲーション枠　共通　h2 文字サイズ*/
.service a h2 {
  font-size: 20px;
  font-weight: bold;
}
/*ナビゲーション枠　共通　h3 文字サイズ*/
.service a h3 {
  font-size: 50px;
  font-weight: bold;
}
/*ナビゲーション枠　共通　アイコン色と大きさ*/
.navi a span {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
/*ナビゲーション枠　共通　ホバー*/
.navi a:hover {
  opacity: 0.8;
}

.col-12.center{
	text-align: center;
}


/*ーーーーー以下もとのやつたちーーーーー */


.header-image {
	height: 500px;
	background-image: url(photo/top/catch09.jpg);
	background-size: cover;
	background-position: 65% 30%;
}

.header-image2 {
	height: 500px;
	background-image: url(photo/top/catch12.jpg);
	background-size: cover;
	background-position: 65% 30%;
}


.header-image4 {
	height: 500px;
	background-image: url(photo/top/catch13.jpg);
	background-size: cover;
	background-position: 65% 70%;
	
	
}

.header-image3 {
	height: 500px;
	background-image: url(photo/top/catch11.jpg);
	background-size: cover;
	background-position: 65% 70%;
	
}






.kiji h1 {
	font-size: 40px;
}
.gaiyou.iconcard.media a {
	background-color: #7392FF;

}
.gaiyou.iconcard.refrection a {
	background-color: #B9FFB7;

}


.gaiyou a {
	color: #000000;
	text-decoration: none;
	outline: none;
	display: block;
	background-color: #FDD757;
	height: 250px;
	text-align: center;
	margin-top: 10px;
	
}



.gaiyou a:focus {
	background-color: #EDEDED;
}
.gaiyou a h2 {
	font-size: 20px;
	font-weight: bold;
}
.kiji p {
	font-size: 16px;
	padding-bottom: 10px;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.gaiyou.iconcard a span {
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #FFFFFF;
	/* [disabled]background-color: #FDD757; */
}
.gaiyou.iconcard a:hover {
	opacity: 0.8;
}


.gaiyou.iconcard.publication a {
	background-color: #CDDE6C;
}
.gaiyou.iconcard.advertisement a {
	background-color: #F6BBC0;
}
.gaiyou.iconcard.web a {
	background-color: #9CD5DA;
}
.sub-midashi {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid #DDDDDD;
	padding-bottom: 6px;
	padding-top: 6px;
}
.gaiyou.kiji a  {
	background-color: #FFFFFF;
	height: auto;
}
.img-fluid.top-img {
	height: 440px;
}
.footer-copyright p {
	margin-bottom: 0px;
}
.gaiyou.iconcard.movie a {
	background-color: #FDD757;
}
.gaiyou.iconcard.art a  {
	background-color: #FF8383;
}


.col-md-3 {
	padding-left: 7px;
	padding-right: 7px;
}
.gaiyou.iconcard.intromov a {
	background-color: #FFA631;
}

.col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.tweet {
	padding-left: 50px;
	padding-right: 50px;
	border-color: #000000;
	border-top-width: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header-contents {
	margin-top: 30px;
}
.navbar-brand {
	padding-left: 20px;
}
.opa:hover {
	opacity: 0.8 ;

}
.text-black{
	text-decoration: none;
	
		
}








@media (min-width: 992px){
.dropdown:hover > .dropdown-menu{
  display: block;
}


.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
	background-color: #F8F9FA;
	width: 80px;
	
}


#dropdownMenuButton  {
	background-color: #F8F9FA;
	color: #7C7CB3;
}

	.dropdown .dropdown-menu li {
	color: #000000;
	text-decoration: none;
}
	
	
}







@media (min-width: 1200px){
.container-fluid {
	width: 1200px;
	padding-top: 0px;
}
}

.sub-midashi {
}
.nav-link   {
	color: #FF0004;
}



.container-fluid.active {
	padding-top: 40px;
}
.row.showcase > .col-md-6:nth-child(odd) {
}

.nav.nav-news li  {
	border-bottom: 1px dotted #AAAAAA;
	padding-left: 0px;
	padding-right: 0px;
	color: #000000;
	width: 100%;
}.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
	/* [disabled]text-align: right; */
}

.showcase {
}
.catch {
	color: #FFFFFF;
	position: absolute;
	left: 37px;
	bottom: 300px;
	background-color: rgba(0,0,0,0.42);

	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}
h1 {
	font-size: 35px;
}
.btn.btn-primary {
	background-color: #FFFF00;
	color: #000000;
	margin-top: 15px;
	margin-bottom: 15px;
}



.footer-info {
	background-color: #EDEDED;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-copyright {
	background-color: #555555;
	padding-top: 20px;
	padding-bottom: 22px;
	color: #FFFFFF;
}
.footer-copyright  {
}





@media (max-width: 500px){
.gaiyou.iconcard a h2  {
	font-size: 18px;
}
.gaiyou.iconcard a  {
	height: 230px;
}
.gaiyou.iconcard a p {
	font-size: 12px;
}

.catch {
	bottom: 70px;
	left: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	color: #FFFFFF;
	
	font-size: 10px;
}
.catch h1 {
	font-size: 20px;
	padding-bottom: 10px;
}
	
.btn.btn-primary {
	background-color: #FFFF00;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 10px;
	
}
	
	
.header-image {
	height: 200px;
	background-image: url(photo/top/catch09.jpg);
	background-size: cover;
	background-position: 65% 30%;
}

.header-image2 {
	height: 200px;
	background-image: url(photo/top/catch12.jpg);
	background-size: cover;
	background-position: 65% 30%;
}


.header-image4 {
	height: 200px;
	background-image: url(photo/top/catch13.jpg);
	background-size: cover;
	background-position: 65% 70%;
	
	
}

.header-image3 {
	height: 200px;
	background-image: url(photo/top/catch11.jpg);
	background-size: cover;
	background-position: 65% 70%;
	
}	
	
	
	}
@media (max-width: 767px){
.row.header-contents > .col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.row.main-contents > .col-md-3.col-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.gaiyou.iconcard.media a {
	padding-left: 0px;
	padding-right: 0px;
}
.gaiyou a {
	margin-top: 0px;
}
}





@media (min-width: 767px){
.row.header-contents > .col-lg-12 {
}
}
	

@media (max-width:1100px){
	.navbar-nav.mr-auto.navtop.menu .nav-item .nav-link {
	font-size: 14px;

}
.gaiyou.iconcard {
	font-size: 14px;
}

	

	
}
